#call-to-action{
    background: #153a55;
}

.top-bar, .top-bar.animated-header {
    background: #153a55;
    padding: 0;
} 

.navbar.bg-light{
    background: #153a55!important;
}

#hero-area h1, #hero-area h2{
    color: #ecf7fb;
}

#hero-area {
    background: #309fd8;
}
#hero-area::before{
    background: rgba(255,255,255,0);
    background-repeat: no-repeat;  
}

.cd-headline.slide .cd-words-wrapper{
    color: #153a55;
}

.navbar .nav-item .nav-link {
    color: #ecf7fb !important;  
}

.navbar .nav-item .nav-link:hover{
    color: #309fd8 !important;
}   

#about-image {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 2%;
    -o-border-radius: 50%;
    }

nav a img{
    max-width: 50%;  
}

.works{
    padding: 110px 0 0 0;
}

.work-single-content ul {
    margin: 30px 35px; 
}

.work-single-content ul li{
    list-style:unset;
}

.global-page-header {
    background: #309fd8; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

#feature .icon {
    background-color: #153a55;
}

#feature{
    background: #309fd8;
}

#wid {
    padding: 80px 0;
    background: #309fd8;
    padding: 110px 0 0 0;
  }
  
  #wid .media {
    margin: 0px 0 70px 0;
  }
  
  #wid .media .media-left {
    padding-right: 25px;
  }
  
  #wid h3 {
    color: #222222;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    margin: 0px 0px 15px;
    font-weight: 400;
  }
  
  #wid p {
    line-height: 25px;
    font-size: 14px;
    color: #777777;
  }
  
  #wid .icon {
    text-decoration: none;
    color: #153a55;
    background-color: #309fd800;
    height: 100px;
    text-align: center;
    width: 100px;
    font-size: 50px;
    line-height: 100px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }


figure figcaption h4{
    color: #3095d8;
}

p, .section-heading p, #wid p {
    font-size: 18px;
    color: #f0f0f0
}

.work-single-content p{
    color: #153a55;
}

#about p, #works p{
    color: #153a55;
}

#works figcaption p{
    color: #f0f0f0;
}

#feature p{
    color: #f0f0f0
}

.img-fluid{
    padding: 30px 0 0 54px;
    width: 75%;
}

.icon img{
    margin-bottom: 10px;
}

.footer-icon{
    color: #000;
    font-family: roboto,sans-serif;
    line-height: 22px;
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 300;
}

.section-heading .title{
    color: #153a55;
    font-weight: bold;
}

.portfolio-item{
    background: #153a55;
}

.portfolio-item h4 {
    color : #309fd8;
}

#works p{
    text-align: center;
}

@media only screen and (max-width:1199px) {
    nav a img {
        max-width: 100%;
    }

    .navbar-light .navbar-brand {
        width: 80%
    }

    #hero-area{
        padding: 150px 0 50px 0;
    }

    #hero-area::before{
        background-image: url(https://img.icons8.com/dotty/300/153a55/delivery-time--v2.png);
        background-position-x: -75px;
        background-position-y: 320px;
        background-size: 260px;
    }

    #works .col-md-6 {
        padding: 0 80px;
    }
    .work-single-content p{
        text-align: center;
    }

    #about .block img{
        max-width: 80%;
    padding-left: 20%;
    }

    #about p{
        text-align: center;
    }
-fluid{
        padding: 30px 0 0 50px
    }

    .portfolio-item h4{
        text-align: center;
    }
}

@media only screen and (min-width:1200px) {
   
    #hero-area::before{
        background-image: url(https://img.icons8.com/dotty/600/153a55/delivery-time--v2.png);
        background-position-x: -200px;
        background-position-y: 210px;
        background-size: 620px;
    }
    
    #about .block img {
        max-width: 60%;
        margin-left: 20px;
    }

    #works .row{
        padding-left: 75px;
        padding-right: 75px;
    }

    figure figcaption{
        padding: 10px 23px;
        text-align: center;
    }

    #about p{
        margin-left: 50px;
        margin-top: 72px;
    }
}

