#call-to-action{
    background: #153a55;
}

.top-bar, .top-bar.animated-header {
    background: #153a55;
    padding: 0;
} 

.navbar.bg-light{
    background: #153a55!important;
}

#hero-area{
    padding: 230px 0; 
}

#hero-area h1, #hero-area h2{
    color: #ecf7fb;
}

#hero-area::before{
    background: rgba(21, 58, 85, .7);
}

.navbar .nav-item .nav-link {
    color: #ecf7fb !important;  
}

.navbar .nav-item .nav-link:hover{
    color: #309fdb !important;
}   

#about-image {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    }

nav a img{
    max-width: 50%;  
}

.work-single-content ul {
    margin: 30px 35px; 
}

.work-single-content ul li{
    list-style:unset;
}

.global-page-header {
    background: #309fdb;
}