#call-to-action{
    background: #153a55;
}

.top-bar, .top-bar.animated-header {
    background: #153a55;
    padding: 0;
} 

.navbar.bg-light{
    background: #153a55!important;
}

#hero-area h1, #hero-area h2{
    color: #ecf7fb;
}

#hero-area::before{
    background: rgba(21, 58, 85, .7);
}

.navbar .nav-item .nav-link {
    color: #ecf7fb !important;  
}

.navbar .nav-item .nav-link:hover{
    color: #309fdb !important;
}   

#about-image {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 2%;
    -o-border-radius: 50%;
    }

nav a img{
    max-width: 50%;  
}

.works{
    padding: 110px 0;
    background: #f0f0f0
}

.work-single-content ul {
    margin: 30px 35px; 
}

.work-single-content ul li{
    list-style:unset;
}

.global-page-header {
    background: #309fdb; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

#feature .icon {
    background-color: #153a55;
}

figure figcaption h4 a{
    color: #3095db;
}

.img-fluid{
    padding: 30px;
}

.icon img{
    margin-bottom: 10px;
}

.footer-icon{
    color: #000;
    font-family: roboto,sans-serif;
    line-height: 22px;
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 300;
}

@media only screen and (max-width:1000px) {
    nav a img {
        max-width: 100%;
    }

    .navbar-light .navbar-brand {
        width: 80%
    }
}

@media only screen and (min-width:1200px) {
    #about .block img {
        max-width: 60%;
        margin-left: 20px;
    }
}

