#call-to-action{
    background: #153a55;
}

.top-bar, .top-bar.animated-header {
    background: #153a55;
    padding: 0;
} 

.navbar.bg-light{
    background: #153a55!important;
}

#hero-area h1, #hero-area h2{
    color: #ecf7fb;
}

#hero-area::before{
    background: rgba(21, 58, 85, .6);
}

.cd-headline.slide .cd-words-wrapper{
    color: #309fdb;
}

.navbar .nav-item .nav-link {
    color: #ecf7fb !important;  
}

.navbar .nav-item .nav-link:hover{
    color: #309fdb !important;
}   

#about-image {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 2%;
    -o-border-radius: 50%;
    }

nav a img{
    max-width: 50%;  
}

.works{
    padding: 110px 0 0 0;
}

.work-single-content ul {
    margin: 30px 35px; 
}

.work-single-content ul li{
    list-style:unset;
}

.global-page-header {
    background: #309fdb; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

#feature .icon {
    background-color: #153a55;
}

#feature{
    background: #6095db15;
}

#wid {
    padding: 80px 0;
    background: #6095db15;
    padding: 110px 0 0 0;
  }
  
  #wid .media {
    margin: 0px 0 70px 0;
  }
  
  #wid .media .media-left {
    padding-right: 25px;
  }
  
  #wid h3 {
    color: #222222;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    margin: 0px 0px 15px;
    font-weight: 400;
  }
  
  #wid p {
    line-height: 25px;
    font-size: 14px;
    color: #777777;
  }
  
  #wid .icon {
    text-decoration: none;
    color: #153a55;
    background-color: #6095db00;
    height: 100px;
    text-align: center;
    width: 100px;
    font-size: 50px;
    line-height: 100px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-shadow: #00a4ba 1px 1px, #00a4ba 2px 2px, #00a4ba 3px 3px, #00a4ba 4px 4px, #00a4ba 5px 5px, #00a4ba 6px 6px, #00a4ba 7px 7px, #00a4ba 8px 8px, #00a4ba 9px 9px, #00a4ba 10px 10px, #00a4ba 11px 11px, #00a4ba 12px 12px, #00a4ba 13px 13px, #00a4ba 14px 14px, #00a4ba 15px 15px, #00a4ba 16px 16px, #00a4ba 17px 17px, #00a4ba 18px 18px, #00a4ba 19px 19px, #00a4ba 20px 20px, #00a4ba 21px 21px, #00a4ba 22px 22px, #00a4ba 23px 23px, #00a4ba 24px 24px, #00a4ba 25px 25px, #00a4ba 26px 26px, #00a4ba 27px 27px, #00a4ba 28px 28px, #00a4ba 29px 29px, #00a4ba 30px 30px, #00a4ba 31px 31px, #00a4ba 32px 32px, #00a4ba 33px 33px, #00a4ba 34px 34px, #00a4ba 35px 35px, #00a4ba 36px 36px, #00a4ba 37px 37px, #00a4ba 38px 38px, #00a4ba 39px 39px, #00a4ba 40px 40px, #00a4ba 41px 41px, #00a4ba 42px 42px, #00a4ba 43px 43px, #00a4ba 44px 44px, #00a4ba 45px 45px, #00a4ba 46px 46px, #00a4ba 47px 47px, #00a4ba 48px 48px, #00a4ba 49px 49px, #00a4ba 50px 50px, #00a4ba 51px 51px, #00a4ba 52px 52px, #00a4ba 53px 53px, #00a4ba 54px 54px, #00a4ba 55px 55px, #00a4ba 56px 56px, #00a4ba 57px 57px, #00a4ba 58px 58px, #00a4ba 59px 59px, #00a4ba 60px 60px, #00a4ba 61px 61px, #00a4ba 62px 62px, #00a4ba 63px 63px, #00a4ba 64px 64px, #00a4ba 65px 65px, #00a4ba 66px 66px, #00a4ba 67px 67px, #00a4ba 68px 68px, #00a4ba 69px 69px, #00a4ba 70px 70px, #00a4ba 71px 71px, #00a4ba 72px 72px, #00a4ba 73px 73px, #00a4ba 74px 74px, #00a4ba 75px 75px, #00a4ba 76px 76px, #00a4ba 77px 77px, #00a4ba 78px 78px, #00a4ba 79px 79px, #00a4ba 80px 80px, #00a4ba 81px 81px, #00a4ba 82px 82px, #00a4ba 83px 83px, #00a4ba 84px 84px, #00a4ba 85px 85px, #00a4ba 86px 86px, #00a4ba 87px 87px, #00a4ba 88px 88px, #00a4ba 89px 89px, #00a4ba 90px 90px, #00a4ba 91px 91px, #00a4ba 92px 92px, #00a4ba 93px 93px, #00a4ba 94px 94px, #00a4ba 95px 95px, #00a4ba 96px 96px, #00a4ba 97px 97px, #00a4ba 98px 98px, #00a4ba 99px 99px, #00a4ba 100px 100px;
  }


figure figcaption h4 a{
    color: #3095db;
}

.img-fluid{
    padding: 30px 0 0 80px;
    width: 75%;
}

.icon img{
    margin-bottom: 10px;
}

.footer-icon{
    color: #000;
    font-family: roboto,sans-serif;
    line-height: 22px;
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 300;
}

@media only screen and (max-width:1000px) {
    nav a img {
        max-width: 100%;
    }

    .navbar-light .navbar-brand {
        width: 80%
    }

    #hero-area{
        padding: 150px 0 50px 0;
    }

    #works .col-md-6 {
        padding: 0 40px;
    }

    #about .block img{
        max-width: 80%;
    padding-left: 20%;
    }
}

@media only screen and (min-width:1200px) {
    #about .block img {
        max-width: 60%;
        margin-left: 20px;
    }

    #works .row{
        padding-left: 75px;
        padding-right: 75px;
    }

    figure figcaption{
        padding: 20px 75px
    }

    #about p{
        margin-left: 50px;
        margin-top: 72px
    }
}

